/*
 * Alerts.
 */

.alert {
    position: relative;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: var(--#{$prefix}alert-padding-x);
    border: var(--#{$prefix}border-width) solid transparent;

    &:before {
        content: " ";
        left: calc(var(--#{$prefix}border-width) * -1);
        top: calc(var(--#{$prefix}border-width) * -1);
        bottom: calc(var(--#{$prefix}border-width) * -1);
        position: absolute;
        width: $alert-border-width;
        background: var(--#{$prefix}alert-icon-color);
    }


    .alert-icon {
        color: var(--#{$prefix}alert-icon-color);
        line-height: $line-height-base;
    }

    .alert-body {
        flex: 1;
    }

    .alert-heading {
        font-size: $font-size-base;
        font-weight: $font-weight-semibold;
        line-height: $line-height-base;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

@each $state in map-keys($theme-colors) {
    .alert-#{$state} {
        --#{$prefix}alert-icon-color: var(--#{$prefix}#{$state});
    }
}


// -
// Flying alerts
// ---

.flying-alerts {
    position: fixed;
    z-index: $zindex-popover;
    top: map-get($spacers, 4);
    right: 0;
    padding: 0 map-get($spacers, 4);
    max-width: $flying-alert-width;
    width: 100%;
}

.flying-alert {
    padding: .75rem;
    @include box-shadow($flying-alert-box-shadow);
}
