
.command-palette {
  margin-top: 5rem;

  .modal-content {
    max-height: 70vh;
    overflow: hidden;
  }
}

.command-palette-content {
  overflow-y: auto;
}

.command-palette-search {
  input {
    border: none;
    background: transparent;

    &:focus {
      outline: none;
    }
  }
}

.command-palette-search-tool {
  &:after {
    margin-left: map-get($spacers, 2);
    content: $breadcrumb-divider;
    color: $breadcrumb-divider-color;
  }
}

.command-palette-shortcut {
  font-family: $font-family-monospace;
}

.command-palette-group {
  .btn {
    box-shadow: none;
  }

  .btn:hover,
  .btn:focus {
    background: $primary !important;
    color: color-contrast($primary) !important;

    .fa {
      opacity: 1 !important;
      color: color-contrast($primary) !important;
    }
  }

  + .command-palette-group {
    border-top: 1px solid var(--#{$prefix}border-color);
  }
}
