.list-group {
    --#{$prefix}list-group-striped-color: var(--#{$prefix}striped-color);
    --#{$prefix}list-group-striped-bg: var(--#{$prefix}striped-bg);

    // bootstrap uses `.card > .list-group {border-top: inherit;}`
    // but it does not inherit the defined border-color for list groups
    border-color: var(--#{$prefix}list-group-border-color) !important;
}

.list-group-striped {
    > .list-group-item:nth-of-type(#{$striped-order}) {
        --#{$prefix}list-group-color: var(--#{$prefix}list-group-striped-color);
        --#{$prefix}list-group-bg: var(--#{$prefix}list-group-striped-bg);
    }

    > .list-group-item:not(:nth-of-type(#{$striped-order})) {
        --#{$prefix}list-group-color: var(--#{$prefix}secondary-color);
    }
}

.list-group-values { // deprecated
    .list-group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $label-font-size;
        color: $label-color;
        text-transform: var(--#{$prefix}label-text-transform);

        .value {
            font-weight: 400;
            font-size: $font-size-base;
            text-align: right;
            text-transform: none;
        }
    }
}

.list-group-item {
    .action-subscript {
        float: right;
        .fa {
            margin: 0;
        }
    }
}
