.user-message-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    // margin-bottom: $spacer;

    gap: $user-message-arrow-size + map-get($spacers, 3);

    &.user-message-left {
        .user-message-sender {
            order: 1;
        }

        .user-message {
            order: 2;

        }
    }

    &.user-message-right {
        .user-message-sender {
            order: 2;
        }

        .user-message {
            order: 1;
            // margin-right: $user-message-arrow-size + map-get($spacers, 3);
        }
    }
}

.user-message-sender {
    line-height: 1;
    border-radius: 50%;
    font-size: 0;
}

.user-message-meta {
    line-height: $line-height-base * 1rem;
}

.user-message {
    position: relative;
    flex: 1;
    align-self: stretch;
    background: $user-message-bg;
    border: $user-message-border-width solid $user-message-border-color;
    @include border-radius($user-message-border-radius);
}

// black magic 1 : create a triangle the same color than .user-message to create a bubble
// black magic 2 : create another triangle 1px larger the same color than .user-message border to simulate border

.user-message-left {
    .user-message:before {
        position: absolute;
        left: calc(-1 * ($user-message-arrow-size + $user-message-border-width));
        top: calc($user-message-arrow-size - $user-message-border-width);
        content: " ";

        width: 0;
        height: 0;
        border-style: solid;
        border-width: calc($user-message-arrow-size + $user-message-border-width) calc($user-message-arrow-size + $user-message-border-width) calc($user-message-arrow-size + $user-message-border-width) 0;
        border-color: transparent $user-message-border-color transparent transparent;
    }
    .user-message:after {
        position: absolute;
        left: $user-message-arrow-size * -1;
        top: $user-message-arrow-size;
        content: " ";

        width: 0;
        height: 0;
        border-style: solid;
        border-width: $user-message-arrow-size $user-message-arrow-size $user-message-arrow-size 0;
        border-color: transparent $user-message-bg transparent transparent;
    }
}

.user-message-right {
    .user-message:before {
        position: absolute;
        right: calc(-1 * ($user-message-arrow-size + $user-message-border-width));
        top: calc($user-message-arrow-size - $user-message-border-width);
        content: " ";

        width: 0;
        height: 0;
        border-style: solid;
        border-width: calc($user-message-arrow-size + $user-message-border-width) 0 calc($user-message-arrow-size + $user-message-border-width) calc($user-message-arrow-size + $user-message-border-width);
        border-color: transparent transparent transparent $user-message-border-color;
    }
    .user-message:after {
        position: absolute;
        right: $user-message-arrow-size * -1;
        top: $user-message-arrow-size;
        content: " ";

        width: 0;
        height: 0;
        border-style: solid;
        border-width: $user-message-arrow-size 0 $user-message-arrow-size $user-message-arrow-size;
        border-color: transparent transparent transparent $user-message-bg;
    }
}

// message variants

.user-message-highlight {
    .user-message {
        border-color: $primary;
        &:before {
            border-color: transparent $primary transparent transparent;
        }
    }
}
