
// Tabbable tabs
// used by react-bootstrap Tabs (which shouldn't be used).
// -------------------------

// Hide tabbable panes to start, show them when `.active`
// @deprecated
.tab-content {
    > .tab-pane {
        display: none;
    }
    > .active {
        display: block;
    }
}

// copied from bootstrap to add some customization vars
.app .nav-underline {
    // scss-docs-start nav-underline-css-vars
    --#{$prefix}nav-underline-link-active-font-weight: #{$nav-underline-link-active-font-weight};
    // scss-docs-end nav-underline-css-vars

    .nav-link.active,
    .show > .nav-link {
        // there is no var in bootstrap for that
        // and the bootstrap default increases the font weight which slightly moves items position (ugly)
        font-weight: var(--#{$prefix}nav-underline-link-active-font-weight);
    }
}

@if $enable-dark-mode {
    @include color-mode(dark) {
        .app .nav-underline {
            --#{$prefix}nav-underline-link-active-color: #{$nav-underline-link-active-color-dark};
        }
    }
}
