.results-per-page {
    .dropdown-menu {
        // min-width: 100%;
        text-align: right;
    }
}

.pagination-condensed {
    flex: 1 0 auto;
    display: inline-flex;

    .dropup {
        flex: 1 0 auto;
    }

    // customize page selector dropdown
    .dropdown-menu {
        min-width: 100%;

        // fix height if there is lots of pages
        max-height: 220px;
        overflow: auto;
    }
}
