/*
 * Users barrel.
 */


.user-avatar {
    display: inline-block;
    border-radius: 50%;
    flex-shrink: 0 !important;
    font-size: 0; // avoid extra margin

    .user-status-bullet {
        box-shadow: 0 0 0 .125em var(--#{$prefix}body-bg); // should be overridden in some places
        //border: .125em solid var(--#{$prefix}body-bg); // should be overridden in some places
    }
}

// sizing variants
@each $size, $value in $icon-sizes {
    .user-avatar-#{$size} {
        .user-status {
            font-size: $value * .5;
            margin: -.25em;
        }

        .user-status-bullet {
            width: .5em;
            height: .5em;
        }
    }
}

.user-status {
    display: inline-flex;
    align-items: center;
    gap: map-get($spacers, 2);
}

.user-status-bullet {
    display: inline-block;
    width: .625em;
    height: .625em;
}

.user-micro {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
    gap: .75rem;
}

.user-micro-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dropdown-menu {
        .user-micro {
            display: flex !important;
            padding: $dropdown-item-padding-y $dropdown-item-padding-x;
        }
    }
}
