
@mixin embedded-list-variant() {
    .list-footer {
        margin: 0;
        padding: map-get($spacers, 2) map-get($spacers, 4);
        // padding-right: map-get($spacers, 2);
    }

    /*.content-loader {
        margin: 0;
        border-radius: 0;
    }*/

    // customize view modes
    .data-grid-col {
        margin-left: map-get($spacers, 4);
        margin-right: map-get($spacers, 4);
    }

    .data-grid-row {
        .list-selected {
            border-radius: 0;
            margin-bottom: 0;
        }
        .data-card {
            border-radius: 0;
        }
    }
}
