
@mixin user-avatar-size($size, $status-size, $status-spacer) {
  .user-status {
    font-size: $size * .5;
    margin: $status-spacer;
  }

  .user-status-bullet {
    width: $status-size;
    height: $status-size;
  }
}
