
.btn-add {
  .action-icon {
    width: map-get($icon-sizes, xs);
    height: map-get($icon-sizes, xs);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--#{$prefix}secondary-color);
    border: 2px dashed var(--#{$prefix}secondary-color);
    border-radius: 50%;
    margin-right: map-get($spacers, 3);
    opacity: .25;
  }

  &:hover {
    .action-icon {
      opacity: 1;
      color: $link-color;
      border-color: $link-color;
    }
  }
}
