.app-main-menu {
  --#{$prefix}menu-bg: #{$toolbar-bg};
  --#{$prefix}menu-bg-subtle: #{$toolbar-bg-subtle};

  background: var(--#{$prefix}menu-bg);

  display: flex;
  align-items: center;
}

.app-context-btn {
  position: relative;
  width: map-get($icon-sizes, sm);
  height: map-get($icon-sizes, sm);
  border-radius: 50%;
  background: var(--#{$prefix}menu-bg-subtle);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--#{$prefix}link-color);
  flex-shrink: 0;

  &:hover,
  &:focus,
  &.active {
    text-decoration: none;
    background: $primary;
    .thumbnail {
      background-color: transparent;
    }

    > * {
      color: color-contrast($primary) !important;
    }
  }

  &:before {
    position: absolute;
    content: " ";
    background-color: var(--#{$prefix}body-color);
  }

  &.active {
    &:before {
      background-color: var(--#{$prefix}primary);
    }
  }
}

.notification-status,
.app-context-status {
  display: inline-block;
  border: .25rem solid var(--#{$prefix}menu-bg);
  line-height: 1;
  font-size: .75rem;
  font-weight: bolder;
  padding: map-get($spacers, 1);
  min-width: .75rem;
  box-sizing: content-box;
}

.app-contexts-menu,
.app-user-menu {
  width: min(24rem, 100vw);
  transform: none !important;
}

.app-main-menu-v {
  flex-direction: column;
  padding: $spacer 0;
  width: map-get($icon-sizes, sm) + 1.5rem;
  height: 100%;
  border-right: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);

  .app-main-menu-group {
    flex-direction: column;
  }

  .app-context-btn {
    margin: 0 .75rem;

    &:before {
      width: 4px;
      height: 0;
      left: -(calc(map-get($icon-sizes, sm) / 4));
      @include border-end-radius($border-radius-sm);
      @include transition(height .15s ease);
    }

    &:focus,
    &:hover {
      &:before {
        height: calc(map-get($icon-sizes, sm) / 2);
      }
    }

    &.active {
      &:before {
        height: calc((map-get($icon-sizes, sm) / 4)*3);
      }
    }
  }

  .app-main-menu-separator {
    width: map-get($icon-sizes, sm);
    border-top: 1px solid;
  }

  .app-contexts-menu,
  .app-user-menu {
    left: 5.5rem !important;
    bottom: 1rem !important;
    top: 4rem !important;
  }
}

.app-main-menu-h {
  order: 3;
  flex-direction: row;
  padding: 0 $spacer;
  width: 100%;
  height: map-get($icon-sizes, sm) + 1.5rem;
  border-top: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
  margin-top: auto;

  .app-main-menu-group {
    flex-direction: row;
  }

  .app-context-btn {
    margin: .75rem 0;

    &:before {
      height: 4px;
      width: 0;
      bottom: -(calc(map-get($icon-sizes, sm) / 4));

      @include border-top-radius($border-radius-sm);
      @include transition(width .15s ease);
    }

    &:focus,
    &:hover {
      &:before {
        width: calc(map-get($icon-sizes, sm) / 2);
      }
    }

    &.active {
      &:before {
        width: calc((map-get($icon-sizes, sm) / 4)*3);
      }
    }
  }

  .app-main-menu-separator {
    height: map-get($icon-sizes, sm);
    border-left: 1px solid;
  }

  .app-contexts-menu,
  .app-user-menu {
    bottom: 5.5rem !important;
    top: 4rem !important;
    right: 1rem !important;
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .app-main-menu {
      --#{$prefix}menu-bg: #{$toolbar-bg-dark};
      --#{$prefix}menu-bg-subtle: #{$toolbar-bg-subtle-dark};
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'sm')) {
  .app-main-menu {
    .app-contexts-menu,
    .app-user-menu {
      width: 100vw;
      height: 100vh;
      border-radius: 0 !important;
      top: 0 !important;
      bottom: 0 !important;
      border: none;
    }
  }
}
