@use "sass:math";

.app-page {
    order: 2;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.fullscreen-close {
    position: absolute;
    z-index: $zindex-offcanvas;
    top: ($grid-gutter-width * .5);
    right: $grid-gutter-width;
    font-size: 36px;
    line-height: 1;
    opacity: 0.6;

    @include text-movie-subtitles();

    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        opacity: 1;
    }
}

.context-menu-btn {
    max-width: 22.5rem;
}

.app-page-menu {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.125), 0 1px 0 0 rgba(0,0,0,.05);

    .nav-item {
        display: flex;
        align-items: stretch;
    }

    .nav-link {
        display: flex;
        align-items: center;
    }
}

.app-page-heading {
    z-index: 1;
}

.app-page-poster + .app-page-heading .app-page-icon {
    margin-top: -5rem;
}

.app-page-icon {
    border-radius: 50%;
    background: var(--#{$prefix}body-bg);
    font-size: 0;
    padding: $thumbnail-padding;
    margin-left: -$thumbnail-padding;
    margin-top: map-get($spacers, 5);
}

.page-section-title {
    position: relative;
    padding: $nav-link-padding-y 0;
    padding-bottom: calc($nav-underline-border-width + $nav-link-padding-y);
    text-transform: $label-text-transform;

    p {
        text-transform: none;
    }

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: " ";
        display: block;
        border-bottom: $nav-underline-border-width solid var(--#{$prefix}primary);
        width: 40px;
    }
}

.app-page-columns {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    &.app-page-columns-reverse {
        flex-direction: row-reverse;
    }
}

.app-page-column {
    overflow-y: auto;
}

.app-page-col-secondary {
    flex: 1 1 30%;

    + .app-page-col-primary {
        border-right: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color-translucent);
    }
}

.app-page-col-primary {
    flex: 1 1 70%;

    + .app-page-col-secondary {
        border-left: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color-translucent);
    }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
    .app-page-columns {
        height: auto;
        flex-direction: column;
    }

    /*.app-page-column {

    }*/

    .app-page-col-secondary {
        order: 1;
        border-left: none;
        border-bottom: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color-translucent);
    }

    .app-page-col-primary {
        order: 2;
    }
}