// removes default button styles everywhere
// appears as a <a>
button,
input[type=button],
input[type=submit],
input[type=reset] {
  font-weight: var(--#{$prefix}body-font-weight);
  background-color: transparent;
  border: none;
  text-decoration: none;
  box-shadow: none;
  padding: 0;
}

dl {
  dt {
    text-transform: var(--#{$prefix}label-text-transform);
    color: var(--#{$prefix}secondary-color);
    font-weight: $form-label-font-weight;
    font-size: $font-size-sm;
    margin-bottom: map-get($spacers, 2);
  }
}
